.recommendation-container {
  flex: 3;
  text-align: center;
  margin-left: 3rem;
}

#reviewsSection {
  /* width: 60%;
  margin: auto; */
  background-color: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.review {
  border-bottom: 1px solid #ddd;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviewer-and-date {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.reviewer-name {
  color: #333;
  font-size: 1.2em;
  font-weight: bold;
}

.review-date {
  color: #666;
  font-size: 0.9em;
  /* margin-bottom: 10px; */
}

.review-text {
  color: #666;
  line-height: 1.6;
}

.review-date .rating {
  margin-top: 10px;
}

.fa-star {
  font-size: 0.8rem;
  color: gray;
}

.checked {
  color: orange;
}

.recommended-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recommended-products .product {
  margin: 5px;
}
